In [22]:
import pandas as pd
import numpy as np

In [23]:
data = pd.read_csv(r'C:\Users\jovan\OneDrive\Documents\Vs Code\Python VSCODE\Bangkit\Capstone\Data\data_no_duplicates.csv')

In [24]:
# Mengurutkan DataFrame berdasarkan kolom 'id'
data_sorted = data.sort_values(by='id')

# Mereset indeks dan menambahkan 1 ke setiap nilai pada kolom 'id'
data_sorted['id'] = range(1, len(data_sorted) + 1)

In [25]:
data_sorted.to_csv(r'C:\Users\jovan\OneDrive\Documents\Vs Code\Python VSCODE\Bangkit\Capstone\Data\data_sorted.csv', index=False)

In [26]:
df

                    nama             kategori
0                   Abon  Makanan dan Minuman
1           Abon haruwan  Makanan dan Minuman
2              Agar-agar  Makanan dan Minuman
3     Akar tonjong segar  Makanan dan Minuman
4          Aletoge segar  Makanan dan Minuman
...                  ...                  ...
6006           Penghapus              Belanja
6007           Penggaris              Belanja
6008       Rautan Pensil              Belanja
6009        Pensil Warna              Belanja
6010             Pemutih              Belanja

[6011 rows x 2 columns]